@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.BuildVersionInfo == null) 
{
    <p style="font-weight:bold; color: red;">Build Version unknown</p>
}
else 
{
    <p>Database Version: 
            @Model.BuildVersionInfo.Major . 
            @Model.BuildVersionInfo.Minor .
            @Model.BuildVersionInfo.Build
        was released on @Model.BuildVersionInfo.ReleaseDate.ToShortDateString()
    </p>
}